<nav class="navbar bg-body-tertiary">
  <div class="container">
    <div class="d-flex-justify-content-start">
      <span style="color: red">CAPELLA MEDAN</span>
    </div>
    <div class="d-flex justify-content-center">
      <b>Registrasi & Aktivasi akun melalui email</b>
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-outline-primary btn-rounded"
        style="border-radius: 10px"
        (click)="login()"
      >
        Login
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <b>Register</b>
        </div>
        <div class="col-12">
          <p>Daftarkan akun menggunakan Gmail Anda.</p>
        </div>
      </div>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <label style="font-weight: bold"
              >Email <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              placeholder="e.g : capella@gmail.com"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && f['email'].errors"
            >
              <span *ngIf="f['email'].errors['required']"
                >Email Wajib Diisi</span
              >
              <span *ngIf="f['email'].errors['email']"
                >Harap Mengisi Email Dengan Benar
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <label style="font-weight: bold"
              >Password <span style="color: red">*</span></label
            >
            <div class="input-group">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                class="form-control"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="togglePasswordVisibility()"
              >
                <i
                  [ngClass]="{
                    'fa-solid fa-eye': !isPasswordVisible,
                    'fa-regular fa-eye-slash': isPasswordVisible
                  }"
                ></i>
              </button>
              <div
                class="invalid-feedback"
                *ngIf="submitted && f['password'].errors"
              >
                <span *ngIf="submitted && f['password'].errors['required']"
                  >Password Wajib Diisi</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-md-6">
            <label style="font-weight: bold"
              >Nama Lengkap <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && f['username'].errors"
            >
              <span *ngIf="submitted && f['username'].errors['required']"
                >Nama Lengkap Wajib Diisi</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <label style="font-weight: bold"
              >Konfirmasi Password <span style="color: red">*</span></label
            >

            <div class="input-group">
              <input
                [type]="isPasswordConfirmVisible ? 'text' : 'password'"
                class="form-control"
                formControlName="password_confirmation"
                [ngClass]="{
                  'is-invalid':
                    (submitted && f['password_confirmation'].errors) ||
                    (submitted &&
                      f['password_confirmation'].value !== f['password'].value)
                }"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="togglePasswordConfirmVisibility()"
              >
                <i
                  [ngClass]="{
                    'fa-solid fa-eye': !isPasswordConfirmVisible,
                    'fa-regular fa-eye-slash': isPasswordConfirmVisible
                  }"
                ></i>
              </button>
              <div
                class="invalid-feedback"
                *ngIf="
                  (submitted && f['password_confirmation'].errors) ||
                  (submitted &&
                    f['password_confirmation'].value !== f['password'].value)
                "
              >
                <span *ngIf="f['password_confirmation'].errors['required']"
                  >Konfirmasi Password Wajib Diisi</span
                >
                <span
                  *ngIf="
                    f['password_confirmation'].value !== f['password'].value
                  "
                  >Konfirmasi Password Harus Sama dengan Password</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-6">
            <label style="font-weight: bold"
              >Tanggal Lahir <span style="color: red">*</span></label
            >
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="birthDate"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="d.toggle()"
                [ngClass]="{ 'is-invalid': submitted && f['birthDate'].errors }"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="d.toggle()"
                type="button"
              >
                <i class="fa-regular fa-calendar"></i>
              </button>
              <div
                class="invalid-feedback"
                *ngIf="submitted && f['birthDate'].errors"
              >
                <span *ngIf="submitted && f['birthDate'].errors['required']"
                  >Tanggal Lahir Wajib Diisi</span
                >
              </div>
            </div>
          </div>
          <div
            class="col-md-6 d-flex justify-content-center align-items-end pt-5"
          >
            <img src="assets/i'm not a robot.png" width="250" alt="robot" />
          </div>
          <div class="col-md-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="userApproval"
              />
              <label class="form-check-label" for="userApproval">
                Saya menyetujui ketentuan dan persyaratan yang berlaku
              </label>
            </div>
          </div>
        </div>
      </form>
      <div class="row mt-4">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            style="width: 68rem; border-radius: 30px"
            (click)="register()"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
